img {
	border : 0 ;
	}
	h1,h2,h3,h4,h5,h6{border:0; padding:0;margin:0; font-size:12px;}
	.normal {
		font-size: 12px;
		line-height: 150%;
		text-align:left;
	}
	.large {
		font-size: 14px;
		line-height: 20px;
		text-align:left;
	}

	.td {
		font-family: Arial, sans-serif;
		border-collapse: collapse;
		line-height: 150%;
		padding: 0;
		font-size: 12px; /* フォントサイズを12pxに設定 */
	}
	
	
	form {
		margin: 0px;
	}
	
	body {
		background-color: #F7F7F7;
	}.word {
		font-size: 12px;
		line-height: 150%;
		text-align:left;
		color: #0839CD;
		font-weight: bold;
		margin: 0px;
		padding: 0px;
	}
	.faq_q {
		font-size: 12px;
		color: #047979;
		line-height: 150%;
	}
	.faq_a {
		font-size: 12px;
		color: #4D32B8;
		line-height: 150%;
	}
	.list1 {
		font-size: 12px;
		line-height: 150%;
		text-align:left;
		margin-top: 5px;
		margin-bottom: 2px;
	}
	.normal2 {
		font-size: 12px;
		line-height: 150%;
		text-align:left;
		color: #BF3CAF;
	}
	.list2 {
		font-size: 12px;
		line-height: 150%;
		text-align:left;
		margin: 0px;
		padding: 0px;
	}
	
	.no_answer_str {
		font-size: 12px;
		color: #ff0000;
	}
	
	.day {
		font-size: 12px;
		line-height: 150%;
		text-align:left;
		color:#ff6600;
		font-weight:bold;
	}
	
	.outline_list ul{
	list-style:none;
	padding:0;
	margin:0;
	}
	
	.outline_list li{
	padding :5px 0px 5px 0px;
	}
	
	
		 @media (max-width: 760px){
		.spnon{ display:none;}
		}
	
	.tbl01{ width:760px;}
	.tbl02{ width:620px;}
	.spimg{display:none;}
		 @media (max-width: 760px){
		.tbl01{ width:100%; padding:0; box-sizing: border-box; background-size: contain;}
		.tbl01 td{ background-size: contain;}
		.tbl02{ width:100%;}
		.tbl03{ background: none !important; width:100%; height:auto !important;}
		img{ max-width:100% !important; height:auto !important;}
			.spimg{display:block; position: relative;margin-top:-30px; margin-bottom: 20px;}
		}
	
	
	
	
	
	