/* charset */
@charset "UTF-8";

/* default */

body,a,td {	font-size : 9pt;	}
form {	margin:0;	}

body, h1, h2, h3, h4, h5, h6, p, div, table, tr, td, img {
  margin: 0;
  padding: 0;
}

table.normal {
  background-color: #FFFFFF; 
}


table {
  background-color: #FFFFFF; /* ???????? */
}

h1,h2,h3,h4,h5,h6{border:0; padding:0;margin:0; font-size:12px;}
	.normal {
		font-size: 12px;
		line-height: 150%;
		text-align:left;
	}
	.large {
		font-size: 14px;
		line-height: 20px;
		text-align:left;
	}
	